mixin oldBrowser
    .old-browser
        .old-browser__content
            p Для работы с сайтом необходим современный браузер.
            p Загрузите и установите один из этих браузеров:
        .old-browser__browsers
            a.old-browser__browser-link.firefox(href='http://www.mozilla-europe.org/', target='_blank') Firefox
            a.old-browser__browser-link.chrome(href='http://www.google.com/chrome/', target='_blank') Chrome
            a.old-browser__browser-link.opera(href='http://www.opera.com/', target='_blank') Opera